/* CSS Document */

*{
	margin: 0;
	padding: 0;
}

.header{
	min-height: 100vh;
	width: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url("images/background.png");
	background-position: top;
	background-size: cover;
	position: relative;
}

nav{
	display: flex;
	padding: 2% 6% 0% 6%;
	justify-content: space-between;
	align-items: center;
}

nav img{
	width: 60px;
}

.nav-links{
	flex: 1;
	text-align: center;
}

.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px;
	position: relative;
}

.nav-links ul li a{
	text-decoration: none;
	color: black;
	font-size: 14pt;
	font-family: 'Roboto', sans-serif;
}

.nav-links ul li::after{
	content: "";
	display: block;
	width: 0%;
	height: 2px;
	background: #000000;
	margin: auto;
	transition: 0.5s;
}

.nav-links ul li:hover::after{
	width: 100%;
}

.text-box{
	margin-top: 60px;
	margin-right: 250px;
	margin-left: 250px;
	margin-bottom: 60px;
}

.text-box h1, p{
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

.text-box a{
	color: #E70003;
}

.text-box p{
	font-size: 11pt;
	color: #323232;
}

.text-box h1{
	font-size: 23pt;
	color: black;
}

